<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- Input file column names configuration -->
    <section name="inputFileConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>

    <add key="InputFilePath" value="INPUT_FILE_PATH"/>
    <add key="OutputFilePath" value="OUTPUT_FILE_PATH"/>
    <add key="SheetName" value="Sheet1"/>
    <add key="ApiKey" value="YOUR_API_KEY"/>
    <add key="MaxResult" value="5"/>
    <add key="Retry" value="10"/>
    <add key="Delay" value="1"/>
  </appSettings>

  <!--Define Column Names for Input file-->
  <inputFileConfig>
    <add key="Company" value="Company"></add>
    <add key="FromDate" value ="From date"></add>
    <add key="ToDate" value ="To Date"></add>
  </inputFileConfig>
</configuration>